<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性-各种实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text"  v-model="firstName"><br>
        名：<input type="text"  v-model="lastName"><br>
        xt：<input type="text"  v-model="xt"><br>
        全名：<span>{{firstName.slice(0,3)}}-{{lastName.slice(0,3)}}</span><br>
        <!--data中的所有属性，最后都出现在了vm身上，{{}}可以展示vue接管的所有属性和方法，包括其原型上的东西-->
        <!--只要data中的数据发生改变，vue会重新解析模板-->
        全名methods：<span>{{fullName()}}</span><br><!--methods没有缓存-->
        <!--vue认为data中的项为属性，多次读取只调用一次get,之后读取fullNames缓存了-->
        全名-计算属性：<span>{{fullNames}}</span><br>
        全名-计算属性：<span>{{fullNames2}}</span><br>
        全名-计算属性：<span>{{fullNames3}}</span><br>
        <!--读的时data中的属性？，methods中的方法， computed中的计算属性？-->

    </div>
    <!--天气检测片段-->
    <div id="root2">
        <h2>今天天气很{{info}},{{x}}</h2>
        <!--监视-->
        <button @click="changeWeather">切换天气</button>
        <!--@click后面可以写一些简单得语句-->
        <button @click="isHot=!isHot;x++">切换天气</button>
        <button @click="window.alert('1')">切换天气</button><br>
        <h3>a的值是:{{numbers.a}}</h3>
        <button @click="numbers.a++">点我a+1</button>
        <h3>b的值是:{{numbers.b}}</h3>
        <button @click="numbers.b++">点我b+1</button>
    </div>

    <div id="root3">
        姓：<input type="text"  v-model="firstName123"><br>
        名：<input type="text"  v-model="lastName123"><br>
        全名监控：<span>{{fullName123}}</span><br><br>
        全面计算属性：<span>{{fullName1234}}</span><br>
        {{a}}
    </div>
    <script>
      Vue.config.productionTip=false;//阻止生产提示
      let xq=888;
        const vm=new Vue({
            el:"#root",
            data(){//配置在这里面的数据会被代理，getter/setter
                return{//些什么vm放什么
                    firstName:'张',
                    lastName:'三',
                    xt:123
                }
            },
            computed:{//vm自动找到其中get，并调用，返回值放在vm身上，他的名字叫fullNames,即他是通过已有的属性计算得到的，这些属性要在vue管理之内，修改才会发生变化
                      //底层借助Object.defineProperty方法提供的getter/setter实现，存在缓存机制效率更高，比起methods,
                //计算属性会最终出现在vm身上，直接读取便可，计算属性要被修改则需要写set函数，且set中要有引起计算时依赖的数据发生改变
                fullNames:{
                    //get作用：当有人读取fullName时，就会被调用，返回值就为fullName值
                    //get什么时候调用：1：初次读取fillNames时，2：所依赖的数据发生变化时
                    get(){
                        console.log('get被调用了');
                        return  this.firstName+'-'+this.lastName;//此处的this==vm，这是vue帮我们调整好的,注意不要写成箭头函数
                    },
                    //当fullNames被修改时会被调用
                    set(v){
                        console.log('-0---0--');
                        const arr=v.split('-');
                        this.firstName=arr[0];
                        this.lastName=arr[1];
                        xq++;//如果只修改这个不会触发fullNames修改
                        //this.fullNames='xxxxx???';//循环引用执行 console.log('-0---0--');
                    }
                },
                //简写形式：只读不改,fullNames2()当get()用，函数名当当作计算属性名称,属于es6的简写形式
                fullNames2(){
                    return  this.firstName+'-'+this.lastName;//此处的this==vm，这是vue帮我们调整好的,注意不要写成箭头函数
                },
                fullNames3:function(){//同上
                    return  this.firstName+'-'+this.lastName;//此处的this==vm，这是vue帮我们调整好的,注意不要写成箭头函数
                }
            },
            methods:{//些什么vm显示什么·
                fullName(){
                    return this.firstName.slice(0,3)+"-"+this.lastName.slice(0,3);
                },
                x(){
                    return '111'
                },
            }

        })

      const vm2=new Vue({
          el:"#root2",
          data:{
              isHot:true,
              x:1,
              window,
              numbers:{
                  a:1,
                  b:1
              }
          },
          methods:{
              changeWeather(){
                this.isHot=! this.isHot;
              }
          },
          computed: {
              info :{
                 get(){
                     return this.isHot?'炎热':'凉爽';
                 },
                  set(v){
                     this.isHot=v;
                  }
              }
          },
          watch:{
              /*isHot:{
                  //当info2发生改变时发生调用
                  handler(newValue,oldValue){
                      console.log("isHot被修改了",newValue,oldValue);
                  },
                  immediate:true//初始化时让handler调用一下
              },*/
              /*'isHot':{
                  //当info2发生改变时发生调用
                  handler(newValue,oldValue){
                      console.log("isHot被修改了",newValue,oldValue);
                  },
                  immediate:true//初始化时让handler调用一下
              },*/
              info:{
                  //当info2发生改变时发生调用
                  handler(newValue,oldValue){
                      console.log("info被修改了",newValue,oldValue);
                  },
                  immediate:true//初始化时让handler调用一下
              },
              //监视多级结构中的某个属性的变化
              /*'numbers.a':{
                    handler(){
                        console.log('a改变了')
                    }
              },*/
              'numbers':{
                  //vue默认是可以监控到多层级的改变的，但是给我们配置的watch监控默认是不行的，如果想开启，则添加下面配置deep
                  deep:true,//开启深度监控
                  handler(){
                      console.log('numbers改变了')
                  }
              },
              //当配置项中只有handler的侍候就可以简写
              isHot(newVal,oldVal){
                console.log('isHot被修改了777',newVal,oldVal);
              }
          }

      })
      //这种方法也能监视
      vm2.$watch('isHot',{
          handler(newValue,oldValue){
              console.log("isHot被修改了",newValue,oldValue);
          },
          immediate:true//初始化时让handler调用一下
      })
      vm2.$watch('isHot2',function (newValue,oldValue){
          console.log("isHot2被修改了",newValue,oldValue);
      })
        //监视属性：
            //1:当被监视得属性发生变化时，回调函数自动调用，进行相关操作
            //2:监视得属性必须存在，才能进行监视
            //3:监视得两种写法


      const vm3=new Vue({
            data(){
                return {
                    firstName123:'xjh',
                    lastName123:'123',
                    fullName123:'xjh-123',
                    x:1,
                    y:2
                }
            },
            computed:{
                a(){
                    return this.x+this.y;
                },
                fullName1234(){
                    return this.firstName123+"--"+this.lastName123;
                    //注意下方的写法是错误的实现不了的，因为我们把返回值给了定时任务中的函数了，无法返回给fullName1234
                    //所以这个属性的返回值为undefined
                    /*setTimeout(()=>{
                        return this.firstName123+"--"+this.lastName123;
                    },1000)*/

                }
            },
            watch:{//监控比计算属性实现稍微麻烦一点，需要提前准备好要监控的属性，并且分别监控原始属性
                    //但是watch监听中可以开启异步任务，计算属性靠返回值提供值，我们无法让这个函数等一等才有返回值
                firstName123(newVal,oldVal){
                    //computed能完成的功能，watch都可以完成，watche能完成的，computed不一定能完成，比如异步操作
                    //所有被vue管理的函数，最好写成普通函数，这样this的指向才是vm或者组件实例对象
                    //所有不被vue所管理的函数（定时器的回调函数，ajax的回调函数等,promise的回调函数），最好写成箭头函数，这样this的指向才是vm或者组件实例对象
                    //目标只有一个，让this指向vm或者组件实例
                    setTimeout(()=>{
                        this.fullName123= newVal+'=='+this.lastName123;
                    },1000)
                },
                lastName123(newVal,oldVal){
                    this.fullName123=this.firstName123+'--'+newVal;
                }
            }
      });
      vm3.$mount("#root3");
    </script>
</body>
</html>
